{% extends 'base.html' %}
{% from 'macros.html' import form_field %}

{% block content %}
<h2>signin_form</h2>
<form method="post">
    {{ signin_form.csrf_token }}
    {{ form_field(signin_form.username) }}
    {{ form_field(signin_form.password) }}<br>
    {{ signin_form.submit1 }}
</form>
<h2>register_form</h2>
<form method="post">
    {{ register_form.csrf_token }}
    {{ form_field(register_form.username) }}
    {{ form_field(register_form.email) }}
    {{ form_field(register_form.password) }}<br>
    {{ register_form.submit2 }}
</form>
{% endblock %}